name: Build source code and send to Capgo

on:
  push:
    tags:
      - '*'
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: "Build code and release"
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Install dependencies
        id: install_code
        run: npm i
      - name: Build
        id: build_code
        run: npm run build
        # env: # Remove both lines  if you don't need it
          # FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }} # Exemple of env var coming from a secret
      - name: Create Release
        id: create_release
        run: npx @capgo/cli@latest bundle upload -a ${{ secrets.CAPGO_TOKEN }}
      # - name: Copy Folder
      #   id: copy_folder
      #   run: |
      #     cp -r ./public/.well-known ./dist/
      #     cd ./dist/ && ls
      - name: Zip files
        run: zip -r deploy.zip ./dist/* 
      - name: Get package version
        id: get_package_version
        run: |
          PACKAGE_VERSION=$(grep -o '"version": "[^"]*' package.json | awk -F'"' '{print $4}')
          echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> $GITHUB_ENV
      - name: Deploy server
        id: deploy_server
        env:
          SERVER_URL: http://deploy.merchant.vn/upload
        run: |
          curl -X POST $SERVER_URL \
            -H "Authorization: ${{ secrets.SERVER_AUTH_TOKEN }}" \
            -F "file=@deploy.zip"      
      - name: Notification Server
        id: notification  
        run: |
          curl -X GET "https://webhook.merchant.vn/data/github?version=${PACKAGE_VERSION}"